* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-surface-1);
  color: var(--color-text-1);
}

main {
  padding: 0;
}

a {
  color: var(--brand);
}

/* Ensure images are responsive */
img {
  max-width: 100%;
  height: auto;
}
